<!DOCTYPE html>
<html lang="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" style="..." th:object="${musician}">

    <div class="form-group">
        <label th:for="username">Username</label>
        <input class="form-control" type="text" th:field="*{username}" />
        <span th:errors="*{username}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="password">Password</label>
        <input class="form-control" type="password" th:field="*{password}" />
        <span th:errors="*{password}" class="error"></span>

    </div>

    <div class="form-group">
        <label th:for="instruments">Instruments</label>
        <input class="form-control" th:field="*{instruments}" />
        <span th:errors="*{instruments}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="musicStyles">Styles</label>
        <textarea class="form-control" th:field="*{musicStyles}"></textarea>
        <span th:errors="*{musicStyles}" class="error"></span>

    </div>

    <div class="form-group">
        <label th:for="location">Location</label>
        <input class="form-control" th:field="*{location}" />
        <span th:errors="*{location}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="ability">Ability</label>
        <input class="form-control" th:field="*{ability}" />
        <span th:errors="*{ability}" class="error"></span>
    </div>

    <input type="hidden"
           name="${_csrf.parameterName}"
           value="${_csrf.token}"/>


    <input type="submit" value="Register" />

    <img src="https://s-media-cache-ak0.pinimg.com/236x/e1/b0/a6/e1b0a68855c677374ba0da5bc48b6254--gangster-party-speakeasy-party.jpg" alt="party.jpg" />

</form>

</body>
</html>