<!DOCTYPE html>
<html lang="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" style="..." th:object="${email}">

    <div class="form-group">
        <label th:for="musician">To: </label>
        <select name="musicianId">
            <option th:each="musician : ${musicians}"
                    th:text="${musician.username}"
                    th:value="${musician.id}"></option>
        </select>
    </div>

<div class="form-group">
    <label th:for="body">Message: </label>
    <textarea class="form-control" th:field="*{body}"></textarea>
    <span th:errors="*{body}" class="error"></span>
</div>

    <input type="submit" value="Send" />

</form>
</body>
</html>