<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>


<table class="table">

    <tr>
        <th>Instruments</th>
        <th>Description</th>
        <th>Location</th>
    </tr>

    <tr th:for="${musician}">
        <td th:text="${musician.instruments}"></td>
        <td th:text="${musician.description}"></td>
        <td th:text="${musician.location}"></td>
    </tr>

</table>

<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

</body>
</html>