<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>
    <a href="/musician/edit">Edit</a>

<table class="table">

    <tr>
        <th>Instruments</th>
        <th>Styles of Music</th>
        <th>Location</th>
        <th>Ability</th>
    </tr>

    <tr th:for="${musician}">
        <td th:text="${musician.instruments}"></td>
        <td th:text="${musician.musicStyles}"></td>
        <td th:text="${musician.location}"></td>
        <td th:text="${musician.ability}"></td>
    </tr>

</table>


</body>
</html>